html{
    font-family: "Lucida Console", "Courier New", monospace;
}
body{
    background-color: powderblue;
}
ul {
    /*list-style-type:square;*/
    list-style-type: none;
}
ul.bordered{
   border: 1px; 
   border-style: solid;
   border-color: rebeccapurple;
   border-radius: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
}
h1{
    text-align: center;
    color: navy;
}
.lorem {
    font-family: Arial, Helvetica, sans-serif;
    color:darkblue;
}

table {
    border-style: solid;
    border-color:black;
    border-width: 1px;
    width: 100%;
}
th, td {
    border-style: solid;
    border-color:cadetblue;
    border-width: 1px;
}

.container{
    padding: 10px;
}

fieldset{
    border-style:outset;
    border-width: 3px;
    border-radius: 5px;

}
legend {
    padding: 15px;
    font-size: larger;
    font-weight: bold;
}

